body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2031 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:925px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background:inherit;
  background-color:rgba(16, 140, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:30px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u2036 {
  position:absolute;
  left:15px;
  top:19px;
  width:360px;
  height:12px;
  color:#FFFFFF;
}
#u2037 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
  background:inherit;
  background-color:rgba(16, 140, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:10px;
  top:40px;
  width:375px;
  height:38px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u2040 {
  position:absolute;
  left:15px;
  top:50px;
  width:14px;
  height:18px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background:inherit;
  background-color:rgba(16, 140, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u2045 {
  position:absolute;
  left:15px;
  top:19px;
  width:360px;
  height:12px;
  color:#FFFFFF;
}
#u2046 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:38px;
  background:inherit;
  background-color:rgba(16, 140, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:10px;
  top:40px;
  width:375px;
  height:38px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u2049 {
  position:absolute;
  left:15px;
  top:50px;
  width:14px;
  height:18px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:368px;
}
#u2051 {
  position:absolute;
  left:16px;
  top:91px;
  width:361px;
  height:368px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:176px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2053 {
  position:absolute;
  left:28px;
  top:577px;
  width:339px;
  height:235px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:110px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:39px;
}
#u2055 {
  position:absolute;
  left:244px;
  top:116px;
  width:117px;
  height:39px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u2057 {
  position:absolute;
  left:290px;
  top:106px;
  width:71px;
  height:31px;
  color:#008000;
}
#u2058 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2059 {
  position:absolute;
  left:52px;
  top:583px;
  width:40px;
  height:40px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2061 {
  position:absolute;
  left:52px;
  top:662px;
  width:40px;
  height:40px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2063 {
  position:absolute;
  left:52px;
  top:739px;
  width:40px;
  height:40px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2065 {
  position:absolute;
  left:58px;
  top:633px;
  width:29px;
  height:16px;
  color:#999999;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2067 {
  position:absolute;
  left:51px;
  top:713px;
  width:43px;
  height:16px;
  color:#999999;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2069 {
  position:absolute;
  left:58px;
  top:787px;
  width:29px;
  height:16px;
  color:#999999;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:28px;
  top:463px;
  width:339px;
  height:104px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:44px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:104px;
}
#u2073 {
  position:absolute;
  left:27px;
  top:463px;
  width:170px;
  height:104px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:44px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2075 {
  position:absolute;
  left:315px;
  top:595px;
  width:35px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2077 {
  position:absolute;
  left:327px;
  top:687px;
  width:23px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2079 {
  position:absolute;
  left:307px;
  top:763px;
  width:43px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  position:absolute;
  left:28px;
  top:830px;
  width:339px;
  height:91px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:38px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2083 {
  position:absolute;
  left:52px;
  top:842px;
  width:57px;
  height:16px;
  color:#999999;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2085 {
  position:absolute;
  left:131px;
  top:842px;
  width:40px;
  height:40px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2087 {
  position:absolute;
  left:137px;
  top:890px;
  width:29px;
  height:16px;
  color:#999999;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2089 {
  position:absolute;
  left:161px;
  top:48px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
